<div class="logo">
    <span>
        <span style="color:#2E6DB4">C</span>
        <span style="color:#DF0024">M</span>
        <span style="color:#F3C300">U</span>
        <span style="color:#00AC9F">R</span>
        <span style="color:#2E6DB4">P</span>
    </span>
</div>