<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="container">
        <h1>Project Blogs <% posts.length %></h1>
        <% for(let i = 0; i < posts.length; i++) { %>
            <article>
                <p><%= posts[i].github %></p>
            </article>
        <% } %>
</body>
</html>
