<html>
<head>
    <% include ./partials/head %>
    <link href="/css/resume.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
</head>
<body>
    <% include ./partials/sidebar %>
    <div class="container">
        <h1>Projects</h1>
        <% for(let i = 0; i < projects.length; i++) { %>
            <h3><%= projects[i].name %></h3>
            <% for(x in projects[i].tags) { %>
                <label><span class="badge purple"><%= x %></span></label>
            <% } %>
            <article>
                <p>Check it out on <a href="<%= projects[i].github %>">github</a></p>
            </article>
        <% } %>
</body>
</html>
